body {
  background-image: url('../assets/astolfo2.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 55%;
  border-radius: 5px;
  background-color: #ffe8ed;
  position:relative;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 0px;
  display: flex;
  flex-direction: column;
}

.card1 {
  background-color: black;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  position: relative;
  padding: 1em 0
  display: flex;
  justify-content: center;
  align-items: center;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false
}

.card::after, .card::before{
  content:'';
  position:absolute;
  height:100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle),pink, #FA2A55, pink, #FA2A55);
  top:50%;
  left:50%;
  translate: -50% -50%;
  z-index: -1;
  padding:5px;
  border-radius:10px;
  animation: 3s spin linear infinite;
}

.card::before{
  filter: blur(1.5rem);
}

@keyframes spin{
  from{
  --angle: 0deg;
  }
  
  to{
  --angle: 360deg;
  }

}