body {
  background-image: url('assets/beth.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}







img {
  display: block;
  margin: auto;
  border:3px solid #6003ab;
  border-radius: 10px;
}

.tombol {
  border: 3px outset red;
  background-color: black;
  border-radius: 10px;
  color: red;
  padding:20px;
}

.tombol1 {
  border: 3px outset red;
  background-color: none;
  border-radius: 10px;
  color: red;
  padding:20px;
}

.content {
 background-color: purple;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.center2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#myButton {
  background-color: black; /* initial color */
  color: #6003ab;
  border: solid 3px;
  border-color: #6003ab;
  padding: 1em 2em;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.2s;
}
#myButton.clicked {
  background-color: red; /* color after click */
}

#myButton2 {
  background-color: black; /* initial color */
  color: #6003ab;
  border: solid 3px;
  border-color: #6003ab;
  padding: 1em 2em;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.2s;
}
#myButton2.clicked2 {
  background-color: red; /* color after click */
}

.card {
  background-color: black;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  position: relative;
  padding: 1em 0
  display: flex;
  justify-content: center;
  align-items: center;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false
}

.card::after, .card::before{
  content:'';
  position:absolute;
  height:100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle),transparent 70%, #6003ab);
  top:50%;
  left:50%;
  translate: -50% -50%;
  z-index: -1;
  padding:3px;
  border-radius:10px;
  animation: 3s spin linear infinite;
}

.card::before{
  filter: blur(1.5rem);
}

@keyframes spin{
  from{
  --angle: 0deg;
  }
  
  to{
  --angle: 360deg;
  }

}